<template>
    <div class="tag"  v-bind:style="{ color: color, 'background-color': background }">{{name}}</div>
</template>

<script>
export default {
  name: 'tag',
  props: ['name', 'background', 'color' ],
}
</script>

<style scoped lang="less">
  .tag{
    font-size: 10px;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 5px;
  }
</style>
