<template>
    <div class="left-block">
        <div class="left-block__top">
          <a href="" class="logo logo--admin left-block__logo"></a>

        </div>
        <div class="left-block__bottom">
          <div class="search left-block__search">
            <form action="">
              <div class="search__input">
                <input type="text" value="Поиск">
                <button class="search__button"></button>
              </div>
            </form>
          </div>

          <a href="#" class="button left-block__button">добавить Материал</a>
          
          <ul class="menu left-block__menu">
            <li class="menu__item"><a href="#" class="menu__linc menu__linc--active">Последние материалы</a></li>

          </ul>

          <hr class="left-block__hr">

          <ul class="menu left-block__menu">
            <li class="menu__item"><a href="#" class="menu__linc"> Главная страница</a></li>
            <li class="menu__item"><a href="#" class="menu__linc"> Страница новостей</a></li>
            <li class="menu__item"><a href="#" class="menu__linc"> Страница  статей</a></li>
            <li class="menu__item"><a href="#" class="menu__linc"> Статьи для начинающих</a></li>
            <li class="menu__item"><a href="#" class="menu__linc"> Статьи для продвинутых</a></li>
            <li class="menu__item"><a href="#" class="menu__linc"> Пользователи</a></li>
          </ul>

          <hr class="left-block__hr">

          <ul class="menu left-block__menu">
            <li class="menu__item"><a href="#" class="menu__linc"> Профиль</a></li>
            <li class="menu__item"><a href="#" class="menu__linc"> Настройки</a></li>
            <li class="menu__item"><a href="#" class="menu__linc"> Выход</a></li>
          </ul>
        </div>



    </div>
</template>

<script>
export default {
  name: 'left-block'
}
</script>

<style  lang="less">
    .left-block{
      background-color: #353940;
        max-width: 300px;
        height: 100%;
        width: 100%;
      overflow-y: auto;

    }

    .left-block__top{
        background-color: #292D33;
        min-height: 75px;
        padding-left: 30px;
        padding-top: 28px;
        box-sizing: border-box;

    }

    .left-block__bottom{
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 31px;
      background-color: #353940;

      overflow-y: auto;

    }

    .left-block__search{

    }

    .left-block__button{
      margin-top: 24px;
      margin-bottom: 47px;
    }

    .left-block__hr{
      border: none;
      background-color: #4C5159;
      height: 1px;
    }

    .logo{

    }

    .search{

    }

    .search__input{
      position: relative;
      max-width: 240px;
      width: 100%;
      input{
        background-color: #2B2E33;
        padding-left: 16px;
        font-size: 16px;
        border-radius: 4px;
        height: 46px;
        width: 100%;
        border: none;
        color:#7F8A93;
        outline: none;
        box-sizing: border-box;
      }
    }

    .search__button{
        position: absolute;
        right: 18px;
        top: 17px;
        background-color: transparent;
        border: none;

    }

    .button{
      color: #ffffff;
      text-decoration: none;
      display: inline-flex;
      box-sizing: border-box;
      width: 100%;
      max-width: 240px;
      height: 46px;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      border-radius: 4px;
      background-color: #09B75F;
      font-size: 12px;
    }


    .menu{
        padding-left: 20px;
        list-style: square;
        color:#545A65
    }

    .menu__item{
      margin-bottom: 10px;

    }

    .menu__linc{
      font-size: 16px;
      color:#9aa0ac;
      font-weight: bold;
      text-decoration: none;
      font-weight: bold;
      &--active{
        color: #09B75F;
      }
    }


</style>
