<template>
    <div class="article" v-html="textItem.text"></div>
</template>

<script>
export default {
  name: 'article',
  props: ['idItem'],
  mounted(){
     // this.$store.dispatch('get_article', this.idItem);
  },
  computed:{
     textItem(){
       return this.$store.getters.article;
     }
  }

}
</script>

<style scoped lang="less">
    .article{
        height: 100vh;
        width: 100%;
        max-width: 54%;
        padding-top: 119px;
        padding-left: 48px;
        padding-right: 48px;
        box-sizing: border-box;
        overflow-y: auto;
        box-shadow: 0 0 27px rgba(0,0,0,0.1);
    }
</style>
