<template>
    <div class='select'>
        <div class="select__top">
          <span class="select__head">{{name}}</span>
          <div class='select__current' v-bind:class="{ 'select__current--active': open }" v-on:click="setOpen()">{{getCurrent.name}}</div>
        </div>
         <div class="select__variants-cont" v-if="open">
            <div class="select__variants">
                <span v-on:click="setValue(item)"  class="select__variant" v-for='item in options'>{{item.name}}</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'select',
        props:['options','value','name'],
        data: function() {
            return {
                open:false,
                current:null
            }
        },
        methods: {
            setOpen: function(){
                this.open = this.open?false:true
            },
            setValue: function(val){
                this.$emit('input', val.id);
                this.current = val;
                this.setOpen();
            },
        },
        computed: {
            getCurrent: function () {
              console.log(this.value);
                if(this.value == null){
                    this.current = this.options[0]!=undefined?this.options[0]:null;
                    this.$emit('input', this.options[0]!=undefined?this.options[0].id:null);
                } else {

                    for (let i=0;i<this.options.length;i++){
                        if(this.options[i].id==this.value){
                            this.current = this.options[i];
                            this.$emit('input', this.options[i].id);
                            break;
                        }
                    }
                }
                return this.current;
            }
        },
        created: function () {
        }
    }
</script>

<style lang="less">
    .select{
        position: relative;
    }



    .select__variants-cont{
        position: absolute;
        top: 100%;
        left: 0;
        background: white;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        z-index: 200;
    }

    .select__variants{
        padding: 6/16rem 8/16rem;
        background-color: #f4f4f4;
    }

    .select__variant{
        display: inline-block;
        width: 100%;
        font-size: 14/16rem;
        padding: 2/16rem 0;
        color: #000000;
        cursor:pointer;
        white-space: nowrap;
    }

    .select__top{
      display: inline-flex;
      align-items: center;
    }

    .select__head{
      color: #858F9B;
      font-size: 14px;
      margin-right: 2px;
      font-weight: bold;
    }

    .select__current{
      color: #858F9B;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      &:after{
        content: '';
        display: inline-block;
        width: 3px;
        height: 3px;
        border-left: solid 1px  #43464C;
        border-bottom: solid 1px  #43464C;
        transform: rotate(-45deg);
        margin-left: 10px;
        position: relative;
      }

      &--active{
        &:after{
          transform: rotate(135deg);
        }
      }

    }

</style>
