<template>
    <div class="list-article" >
        <div class="list-article__block">
            <div class="list-article__top">
                <h1 class="list-article__head">Последние материалы</h1>
                <div class="list-article__select-block">
                  <my-select v-bind:name="namesSelect[0]" class="list-article__select" :options="tags" v-model="currentTag" />
                  <my-select v-bind:name="namesSelect[1]" class="list-article__select" :options="sort" v-model="currentSort" />

                </div>
            </div>
            <div class="list-article__list">
                <item-article v-bind:class="{'item-article--active':item.id==idItem}"   v-on:click="clickItem(item.id)" v-for="item in items"
                                v-bind:id="item.id"
                                v-bind:code="item.code"
                                v-bind:name="item.name"
                                v-bind:date="item.date"
                                v-bind:status="item.status"
                                v-bind:tags="item.tags"
                />
            </div>
        </div>
        <article-text v-if="idItem" v-bind:idItem="idItem" />
    </div>
</template>

<script>
import ItemArticle from '../ItemArticle/ItemArticle'
import Article from '../Article/Article'
import Select from '../Select/Select'
export default {
  name: 'ListArticle',
  data () {
    return {
        currentTag:null,
        currentSort:null,
        sort: [
          {
            id:1,
            name:'по дате'
          },
          {
            id:2,
            name:'по имени'
          }
        ],
        namesSelect:[
          'Теги:',
          'Сортировать:'

        ]

    }
  },
  methods: {
    clickItem(id){

      this.$router.push(id);
    }
  },
  components: { 'item-article': ItemArticle, 'article-text': Article, 'my-select': Select },
  computed: {
    idItem() {
      if(this.$route.params.id != undefined){
          this.$store.dispatch('get_article',this.$route.params.id);
        return this.$route.params.id
      }
      return false;
    },
    items() {
      let articles =  this.$store.getters.articles;
      // .find(todo => parseInt(todo.id) === id)

      if(this.currentTag!=null){
        console.log(22222222222222222222222);
        articles =  articles.filter(todo =>{ return todo.tags.indexOf( this.currentTag ) != -1})
      }

      if(this.currentSort==1){
        articles = articles.sort((d1, d2)=>{return d1.date > d2.date})
      }
      if(this.currentSort==2){
        articles = articles.sort((d1, d2)=>{return d1.name.toLowerCase() > d2.name.toLowerCase()})
      }


      return articles;
    },
    tags() {
      let tags = this.$store.getters.tags;
      tags.unshift({id:null,name:'все'});
      return tags;
    },
  },
  mounted() {
    this.$store.dispatch('get_tags');
    this.$store.dispatch('get_statuses');
    this.$store.dispatch('get_articles');
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
    .list-article{
        height: 100vh;
        width: 100%;
        display: flex;
    }
    .list-article__block{
        width: 100%;
        overflow-y: auto;
    }
    .list-article__top{
        min-height: 75px;
        width: 100%;
        background-color: #E7EAEE;
        display: flex;
        padding-bottom: 24px;
        padding-left: 33px;
        padding-right: 55px;
        align-items: flex-end;
        box-sizing: border-box;
        padding-top: 24px

    }
    .list-article__head{
        color: #9DA4AE;
        font-size: 24px;
        font-family: "Museo Sans Cyrl";
        margin: 0;
        padding: 0;
    }
    .list-article__list{
        overflow-y: auto;
    }

    .list-article__select-block{
      margin-left: auto;
      display: inline-flex;
    }

    .list-article__select{
      margin-right: 34px;
      &:last-of-type{
        margin-right: 0;
      }
    }

</style>
