<template>
    <div class="status" v-bind:style="{ color: color, 'background-color': background }">{{name}}</div>
</template>

<script>
export default {
  name: 'status',
  props: [ 'name', 'color', 'background' ]
}
</script>

<style scoped lang="less">
  .status{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    text-transform: uppercase;
    font-size: 10px;
  }
</style>
