<template>
  <main id="app">
    <left-block/>
    <router-view/>
  </main>
</template>

<script>
import LeftBlock from './components/LeftBlock/LeftBlock.vue'
export default {
  name: 'App',
  components: { 'left-block': LeftBlock }
}
</script>

<style lang="less">
  @import (less) "../node_modules/normalize.css/normalize.css";
  #app {
    height: 100vh;
    display: flex;
  }
</style>
