<template>
    <div class="item-article" v-on:click="$emit('click')">
      <div class="item-article__top">
        <span class="item-article__name">{{name}}</span>
        <span class="item-article__date">Обновлен {{dateItem}}</span>
      </div>
      <div class="item-article__bottom">
        <div class="item-article__tags">
            <tag v-for="tag in tagsItem"
                 v-bind:name = "tag.name"
                 v-bind:color = "tag.color"
                 v-bind:background = "tag.background"

                 class="item-article__tag"/>
        </div>

        <status class="item-article__status"
                v-bind:name="statusItem.name"
                v-bind:color = "statusItem.color"
                v-bind:background = "statusItem.background"
        />

      </div>

    </div>
</template>

<script>
import Status from '../status/status'
import Tag from '../Tag/Tag'
export default {
  name: 'item-article',
  props: ['name', 'date', 'status', 'tags'],
  components: { 'status': Status, 'tag': Tag },
  data(){
    return {
      nameMonth:["января", "февраля", "марта", "апреля", "мая", "июня",  "июля", "августа", "сентября", "октября", "ноября", "декабря"]
    }
  },
  computed:{
      statusItem(){
        return this.$store.getters.status(this.status);
      },
      tagsItem(){
        let res = [];
        for(let i = 0; i < this.tags.length; i++){
            res.push(this.$store.getters.tag(this.tags[i]))
        }
        return res;
      },
      dateItem(){
        let date = new Date();
        date.setTime(parseInt(this.date*1000));
        console.log(parseInt(date.getMonth()));
        return date.getDate()+' '+this.nameMonth[parseInt(date.getMonth())]+' '+date.getFullYear();
      }
  }

}
</script>

<style scoped lang="less">
  .item-article{
    min-height: 125px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 34px;
    padding-left: 34px;
    padding-right: 29px;
    padding-bottom: 32px;
    border-left: solid 6px  transparent;
    width: 100%;
    border-bottom: solid 1px rgba(210,212,213,0.73);
    cursor: pointer;
    &--active,&:hover{
      border-left-color: #09B75F;
    }
  }

  .item-article__top{
    display: flex;
    align-items: center;
  }

  .item-article__name{
    color: #080808;
    font-size: 20px;
  }

  .item-article__date{
    display: block;
    margin-left: auto;
    color: #AEB2B8;
    font-size: 12px;

  }

  .item-article__bottom{
    display: flex;
    padding-top: 17px;
  }

  .item-article__status{
    margin-left: auto;
  }

  .item-article__tags{
    display: flex;
  }

  .item-article__tag{
      margin-right: 11px;
  }

</style>
